@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300)


body
  font-family: "Open Sans", serif

h1, h2
  font-family: "Montserrat", serif

body
  font-size: 1.8rem
  line-height: 3rem
  color: #555

h1 
  padding: 2rem 0
  margin: 12rem 0 1.5rem 0
  a, a:hover
    color: #ffffff
    text-decoration: none
  a
    border-bottom: 5px solid rgba(255, 255, 255, 0.4)
  a:hover
    border-bottom: 5px solid rgba(255, 255, 255, 0.6)

h2
  color: #e74c3c
  margin-top: 5rem

#top-background
  background-image: asset-url("bg2.jpg")
  background-size: cover
  background-position: center center

#top
  background-color: rgba(45, 95, 86, 0.5)
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8)
  color: #ffffff
  height: 500px

  .col-sm-12
    text-align: center
  p
    font-size: 2.2rem