body, html
  height: 100%
  margin: 0
  padding: 0
  width: 100%

body
  font-family: "Open Sans", sans-serif

h1, h2
  font-family: "Montserrat", sans-serif

body
  font-size: 1.8rem
  line-height: 3rem
  color: #555

h1 
  padding: 2rem 0
  a, a:hover
    color: #ffffff
    text-decoration: none
  a
    border-bottom: 5px solid rgba(44, 44, 44, 0.1)
  a:hover
    border-bottom: 5px solid rgba(44, 44, 44, 0.2)

h2
  margin-top: 5rem

#main-page h2.post-title
  background-color: #434a54
  color: #fff
  display: inline-block
  padding: 0.3em 0.6em
  margin-top: 0
  a, a:hover, a:active
    color: #fff

  &:hover
    background-color: #636a74

#main-page .post-text h2
  margin-top: 2rem
  font-size: 1em

#main-page
  background-color: #fff

#top-background,
#top,
#main-page,
.author-intro
  position: relative
  z-index: 1

#top-background
  background-color: #8cc152
  background-size: cover
  background-position: center center

#top-video video
  position: absolute
  width: 100%
  z-index: 0

#top
  padding: 7em 0

  .col-sm-12
    text-align: center

  h1
    margin-top: 0
    padding-top: 0

  p
    font-size: 2.2rem

#top,
#top a
  color: #fff

/* Alerts */
.alert
  margin: 3rem 0

footer
  background-color: #434a54
  text-align: center
  margin-top: 5rem
  padding: 4rem 0

.nav-footer
  display: inline-block

.nav-footer
  margin: 0

.nav-footer li
  display: inline-block
  a
    color: #aaa
    padding: 1rem 2rem

article p
  margin-bottom: 3rem

article>p:first-child
  font-size: 2.5rem
  line-height: 3.5rem

article h2
  color: #555

article li>p
  margin-bottom: 1rem

article ul
  margin-bottom: 2rem

/* # Main Page Extras # */

.author-intro
  color: #fff
  //background-color: #0E6670
  //background-color: #ebf5fa
  background-color: #434a54
  padding: 6em 4em
  line-height: 2em

.author-intro a,
.author-intro a:hover
  color: #ddd

.post-section
  display: inline-block
  padding: 3em
  height: 30em
  width: 50%
  overflow: hidden

.post-section:nth-child(even)
  background-color: #eee

.post-section:nth-child(odd)
  background-color: #fff
