html, body, .container-post {
  height: 100%;
}

.header {
  height: 60%;
}

.header {
  position: relative;
  margin: 0 auto;
  // min-height: 560px;
  width: 100%;
}

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg-img .inner-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.title {
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1.25em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modify .title {
  text-shadow: none;
}

.title h1 {
  padding: 0 0 0.3em;
  color: #fff;
  font-weight: 800;
  font-size: 3.25em;
  margin: 0 auto;
}

.title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0 auto;
}

.title h1,
.title p.subline {
  line-height: 1;
}

.title p.subline {
  font-size: 1.75em;
}

/* Trigger Button */
button.trigger {
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
}

.container-post:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.container-post.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.container-post .menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  a {
    color: white;
  }
  a:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  padding: 0.8em;
  width: 300%;
  color: #fff;
  content: '';
  font-size: 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

button.trigger:focus {
  outline: none;
}

button.trigger span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.trigger span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  content: "\e114";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------- */
/* Faded gradient */
/* -------------------------- */

.intro-effect-fadeout:not(.notrans) .bg-img {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.intro-effect-fadeout:not(.notrans) .bg-img::after {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.intro-effect-fadeout:not(.notrans) .header h1 {
  -webkit-transition-property: color;
  transition-property: color;
}

.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.intro-effect-fadeout:not(.notrans) .bg-img,
.intro-effect-fadeout:not(.notrans) .bg-img::after,
.intro-effect-fadeout:not(.notrans) .header h1,
.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.intro-effect-fadeout .header {
  overflow: hidden;
}

.intro-effect-fadeout.modify .bg-img {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
}

.intro-effect-fadeout .bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.intro-effect-fadeout.modify .bg-img::after {
  opacity: 1;
}

.intro-effect-fadeout .title {
  text-align: center;
  max-width: 900px;
}

.intro-effect-fadeout.modify .header h1,
.intro-effect-fadeout .header p {
  color: #514753;
}

.intro-effect-fadeout .header p {
  opacity: 0;
}

.intro-effect-fadeout .header p:nth-child(2) {
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}

.intro-effect-fadeout .header p:nth-child(3) {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
}

.intro-effect-fadeout.modify .header p:nth-child(2),
.intro-effect-fadeout.modify .header p:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.intro-effect-fadeout .content {
  z-index: 1000;
  position: relative;
}

.intro-effect-fadeout .content {
  opacity: 0.7;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.intro-effect-fadeout.modify .content {
  opacity: 1;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  margin-bottom: 150px;
}

.comments {
  opacity: 0.01;
  position: relative;
  top: -150px;
}

.modify .comments {
  opacity: 1;
}
